<form [formGroup]="TodoForm" (ngSubmit)="TodoTask()">
  <div class="flex justify-center row-auto p-2 w-full mt-8">
    <div>
      <app-inputs
        [class]="
          'rounded-lg border border-emerald-600 p-2 text-black input-hover'
        "
        [placeHolder]="'Ingresa tu tarea'"
        [formControlName]="'todoInput'"
        [name]="'todoInput'"
        [type]="'text'"
      ></app-inputs>
      @if (todoInput.invalid && todoInput.touched) {
      <p class="text-red-500">{{ addTask }}</p>
      }
    </div>
    <app-buttons
      [classButton]="
        'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600'
      "
      [type]="'submit'"
      [titleButton]="titleButton"
      [disabled]="isButton"
    >
    </app-buttons>
  </div>
</form>
