<div class="text-white mt-10 pt-1 pb-1">
  @if (list.length == 0 ) {
  <p class="flex justify-center text-3xl mt-11">
    No tienes ninguna tarea pendiente
  </p>
  }@else {

  <ul class="">
    @for (item of list; track $index) {
    <li
      class="flex justify-around gap-10 p-4 text-2xl bg-blue-500 border-white content-li cursor-pointer hover:bg-blue-700"
      [ngClass]="{ 'completed-item-active': item.completed }"
    >
      <span class="cursor-pointer" (click)="checkTask(item.id)">
        <fa-icon [icon]="faCheck" style="color: #63e6be"></fa-icon
      ></span>
      <p class="prueba">
        {{ item.name }}
      </p>
      <span class="cursor-pointer" (click)="deleteTask(item.id)"
        ><fa-icon [icon]="faTrash" style="color: #d03737"></fa-icon
      ></span>
    </li>
    }
  </ul>
  }
</div>
