<nav class="bg-emerald-600 p-5 w-full">
  <div class="flex justify-between items-center">
    <!-- Botón para abrir/cerrar el menú en pantallas pequeñas -->
    <button
      (click)="toggleMenu()"
      class="lg:hidden text-white hover:text-blue-500"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </div>
  <ul
    [ngClass]="{
      flex: isMenuOpen,
      hidden: !isMenuOpen,
      'lg:flex': true,
      'justify-around': true,
      'mt-4': true
    }"
  >
    <li class="mt-1">
      <fa-icon
        [icon]="faHome"
        class="hover:text-blue-500"
        routerLink="/"
      ></fa-icon>
    </li>
    <li class="text-lg mt-1 font-bold hover:text-blue-500">
      <a routerLink="/Task">{{ Task }}</a>
    </li>
    <li class="text-lg mt-1 font-bold hover:text-blue-500">
      <a routerLink="/Weather">{{ Weather }}</a>
    </li>
    <div>
      <button
        class="bg-blue-500 p-1 rounded text-white hover:bg-blue-600"
        type="button"
        (click)="changeMode()"
      >
        {{ isMode ? lightMode : darkMode }}
      </button>
    </div>
  </ul>
</nav>
