@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  margin: 0;
}

/* Estilos del modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: white;
}
